body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #1d6ec5;
  font-weight: 300;
  text-align: center;
  padding: 20px 0 10px;
}

form {
  text-align: center;
}

h2 {
  color: #ec6e4c;
  text-align: center;
  padding-top: 20px;
}

p {
  color: #1e70c6;
}

hr {
  border: 3px solid #66a8dc;
  border-radius: 10px;
}

li {
  list-style: none;
  color: #5a6275;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  border: solid;
  border-color: #5ac2f0;
  border-radius: 30px;
  padding: 20px;
  margin: 50px 425px;
  max-width: 600px;
}

.btn-success {
  display: block;
  position: relative;
  left: 320px;
  bottom: 20px;
}

.current-date {
  display: block;
  color: #5a6275;
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.current-temp {
  display: block;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  color: #5a6275;
  line-height: 1;
}

.current-temp .active {
  color: #5a6275;
  cursor: default;
}

.current-scale {
  font-size: 20px;
  position: relative;
  bottom: 20px;
}

.current-temp-emoji {
  font-size: 80px;
  margin-left: 15px;
}

#current-description {
  color: #5a6275;
  font-size: 20px;
}
.open-source-code {
  display: block;
  position: relative;
  left: 450px;
  bottom: 40px;
}
